[project]
	description = Testing gerrithub service
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lucas Picchi (lukss12)
[access "refs/for/refs/*"]
	read = group user/Lucas Picchi (lukss12)
	push = group user/Lucas Picchi (lukss12)
	label-Code-Review = -2..+2 group user/Lucas Picchi (lukss12)
	label-Verified = -1..+1 group user/Lucas Picchi (lukss12)
	rebase = group user/Lucas Picchi (lukss12)
	removeReviewer = group user/Lucas Picchi (lukss12)
	submit = group user/Lucas Picchi (lukss12)
[access "refs/heads/*"]
	read = group user/Lucas Picchi (lukss12)
	create = group user/Lucas Picchi (lukss12)
	push = +force group user/Lucas Picchi (lukss12)
	pushMerge = group user/Lucas Picchi (lukss12)
[access "refs/tags/*"]
	push = group user/Lucas Picchi (lukss12)
	push = +force group user/Lucas Picchi (lukss12)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
